/* @keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.ticker-column {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.ticker-track {
  display: flex;
  flex-direction: column;
  animation: scrollUp 30s linear infinite;
  will-change: transform;
}

.delay-0 .ticker-track {
  animation-delay: 0s;
}
.delay-2 .ticker-track {
  animation-delay: 2s;
}
.delay-5 .ticker-track {
  animation-delay: 5s;
}

 */

 @keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.ticker-column {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.ticker-track {
  display: flex;
  flex-direction: column;
  animation: scrollUp 30s linear infinite;
  will-change: transform;
}

/* Remove the animation delays */
/* Instead, add different starting positions with margins */
.ticker-column:nth-child(1) .ticker-track {
  margin-top: 150px; /* Adjust these values as needed */
}

.ticker-column:nth-child(2) .ticker-track {
  margin-top: 300px; /* Adjust these values as needed */
}

.ticker-column:nth-child(3) .ticker-track {
  margin-top: 50px; /* Adjust these values as needed */
}


.star-icon {
  width: 85px;

}

@media (max-width: 768px) {
  .star-icon {
    width: 52px;
  }
}

